#bars {
  display: flex;
  height: 5rem;
  align-items: flex-end;
}

.bar {
  flex-grow: 1;
  /* animation: scroll 1s linear backwards; */
  margin-left: 1px;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(50px);
  }
} */


/*!!!!!! scroll smoothly doesnt work  */